:root {
    --white: #FFFFFF;
    --orange: #FF8800;
    --green: #00A676;
    --blue: #3B45CC;
    --red: #D52941;
    --light-blue: #E6F0FF;
    --gray: #CCCCCC;
  }
  
  .sudoku-game-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    background-color: var(--blue);
    border: solid var(--blue);
    padding: 2px;
    overflow: hidden;
  }
  
  .sudoku-row {
    display: contents;
  }
  
  .sudoku-cell {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(12px + 0.5vw);
    background-color: var(--white);
    transition: all 0.3s ease;
  }
  
  .sudoku-cell:nth-child(3n) {
    border-right: solid var(--blue);
  }
  
  .sudoku-row:nth-child(3n) .sudoku-cell {
    border-bottom: solid var(--blue);
  }
  
  .sudoku-cell.selected {
    background-color: var(--light-blue);
  }
  
  .sudoku-cell.given {
    font-weight: bold;
    color: var(--orange);
    background-color: var(--white);
  }
  
  .sudoku-cell.editable {
    cursor: pointer;
    color: var(--blue);
  }
  
  .sudoku-cell.editable:hover {
    background-color: var(--light-blue);
  }
  
  .number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  
  .number-btn{
    color: #3B45CC;
    font-size: calc(80px + 0.5vw);
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    padding: 0;
  }
  
  .number-btn:hover {
   color: #FF8800;
   background-color: white;
  }
  
  .sudoku-game-container {
    grid-template-columns: 2fr;
  }

  .number-pad {
    grid-template-columns: repeat(9, 1fr);
    margin-top:0.5rem;
  }

  .sudoku-cell, .number-btn {
    font-size: 18px;
  }

  .col{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .col select{
    margin-top:22px;
  }